{% extends 'base.html' %}
{% load bootstrap4 %}
{% load meus_filtros %}
{% load humanize %}

{% block content %}
  <div class="container">
    <nav class="nav">
      <a class="nav-link" href="{% url 'clientes_form' %}">Novo</a>
    </nav>
    <hr />
    <div class="row row-cols-1 row-cols-md-2 g-4">
      {% for cliente in object_list %}
      <div class="col">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">{{ cliente.nome }}</h5>
            <p class="card-text">
              <ul>
                <li>{{ cliente.email }}</li>
                <li>{{ cliente.email }}</li>
                <li>{{ cliente.data_nascimento }}</li>
              </ul>
              <hr>
              <a class="btn btn-outline-info" href="{% url 'clientes_update' cliente.id %}">Editar</a>
              <a class="btn btn-outline-danger" href="{% url 'delete_clientes' cliente.id %}">Excluir</a>
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  
  </div>
{% endblock %}
