<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Clientes</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
  </head>
  <body>
    <div class="container">
      <hr />
      <h2>Lista de Clientes <a href="{% url 'clientes_form' %}">Novo</a></h2>
      <hr />

      {% for cliente in object_list %}
        {% if cliente.profissao == 'Programador' %}
          <li>{{ cliente.nome }}</li>
          <li>{{ cliente.email }}</li>
          <li>{{ cliente.data_nascimento }}</li>
          <li><h2>{{ cliente.profissao }}</h2></li>
          <hr />
          <a class="btn btn-info" href="{% url 'lista_detail_clientes' cliente.pk %}">Detalhes</a> - <a class="btn btn-danger" href="{% url 'delete_clientes' cliente.pk %}">Deletar</a>
          <hr />
        {% else %}
          <li>{{ cliente.nome }}</li>
          <li>{{ cliente.email }}</li>
          <li>{{ cliente.data_nascimento }}</li>
          <li>{{ cliente.profissao }}</li>
          <hr />
          <a class="btn btn-info" href="{% url 'lista_detail_clientes' cliente.pk %}">Detalhes</a> - <a class="btn btn-danger" href="{% url 'delete_clientes' cliente.pk %}">Deletar</a>
          <hr />
        {% endif %}
      {% endfor %}
    </div>
  </body>
</html>
