<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Clientes</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    <div class="container">
        <hr>
        <h2>{{ cliente.nome }}</h2>
        <hr>
        
       
            <li>{{ cliente.nome }}</li>
            <li>{{ cliente.email }}</li>
            <li>{{ cliente.data_nascimento }}</li>
            <li>{{ cliente.profissao }}</li>
            <hr>
            <a href="{% url "clientes_update" cliente.id %}">Editar</a>
            <a href="{% url "clientes_list" %}">Voltar</a>
            
    </div>
</body>
</html>